<!doctype html>
<head>
<style>@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
*, *:before, *:after{transition:.3s linear}
table, td, p, a {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1em
}
    

body {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1em
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.2em
}
</style>
</head>
    <title>Наш поисковик:)</title>
<body align=center>
<form method=post>
<table style='padding: 10 10 10 0px;' border=0 width=80% height=100%>
<tr><td valign=center><b>Введите&nbsp;запрос</b></td><td width=100%><input style='width:100%' name="text"></td><td><input type="submit" value='Найти'></td></tr>
</table>    
</form>